{% extends 'base.html' %}

{% block content %}
<h3>Recommended Movie</h3>
<h4>Recent Movie</h4>
<div class="row">
  {% for movie in recent_movies %}
    <div class="col-6">
      <p>{{ movie.title }}</p>
      <img src="{{ movie.poster_path }}" alt="">
    </div>
  {% endfor %}
</div>
<h4>Old Movie</h4>
<div class="row">
  {% for movie in old_movies %}
    <div class="col-6">
      <p>{{ movie.title }}</p>
      <img src="{{ movie.poster_path }}" alt="">
    </div>
  {% endfor %}
</div>
{% endblock %}

{% comment %} <script>
  const contents = new Vue({
    el : '#contents',
    data : {
      
    }
    methods :{
      'recent' : function(){

      }

    }

  })
</script> {% endcomment %}

