{% extends 'base.html' %}
{% load bootstrap5 %}
{% load humanize %}

{% block content %}
  <h1 class="fw-bold">DETAIL PAGE</h1>
  <hr>
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col d-flex flex-column justify-content-between">
        <div class="row">        
          <a href="{% url 'accounts:profile' review.user.pk %}" class="fs-4 text-dark fw-bold text-decoration-none">Creator : {{ review.user }}</a><br>
          <br>
          <p class="fs-4">Review Title : {{ review.title }}</p>
          <p class="fs-4">Movie Title : {{ review.movie_title }}</p>
          <p class="fs-4">Review Content : {{ review.content }}</p>
          <p class="fs-4">Rank : {{ review.rank }}</p>
          <p class="fs-4">Created at : {{ review.created_at|naturalday }}</p>
          <p class="fs-4">Edit at : {{ review.updated_at|naturaltime }}</p>
        </div>
        
        <div class="row d-flex flex-row justify-content-end">
          <div class="col">
            <a href="{% url 'community:index' %}" class="btn btn-light btn-lg mb-3">BACK <i class="fas fa-undo"></i></a>
          </div>
          {% if request.user == review.user %}
            <div class="col">
            <a href="{% url 'community:update' review.pk %}" class="btn btn-primary btn-lg mb-3">EDIT <i class="far fa-edit"></i></a>
            </div>
            <div class="col">
            <form action="{% url 'community:delete' review.pk %}" method = "POST" class="mb-3">
              {% csrf_token %}
              <button class="btn btn-danger btn-lg"> DELETE <i class="far fa-trash-alt"></i></button>
            </form>  
            </div>
          {% endif %}
        </div>
      </div>
      <div class="col">
        {% if review.image %}
          <img src="{{review.image.url}}" alt="{{review.image}}">
        {% endif %}
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col">
      <form action="{% url 'community:like' review.pk %}" method="POST">
        {% csrf_token %}
        {% if request.user in review.like.all %}
          <button class="btn btn-link text-decoration-none">
            <i class="fas fa-heart fa-lg mx-3" style="color:crimson;"></i>  
            <span class="fs-5 fw-bold text-dark">LIKE CANCEL</span>
          </button> 
        {% else %} 
          <button class="btn btn-link text-decoration-none">
            <i class="fas fa-heart fa-lg mx-3" style="color:black;"></i>
            <span class="fs-5 fw-bold text-dark">LIKE</span>
          </button>
        {% endif %}
      </form>
    </div>
    <div class="col d-flex flex-row justify-content-end align-items-center">
      <span class="fw-bold fs-5">{{review.like.all|length}}명이 좋아합니다</span>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col d-flex flex-row align-items-center">
      <i class="far fa-comment-alt mx-4 fa-lg" style="color:black;"></i>
      <span class="fs-5 fw-bold"> 댓글 </span>
    </div>
    <div class="col d-flex flex-row justify-content-end align-items-center">
      <p class="fs-5 fw-bold">{{ comments|length }}개의 댓글이 있습니다</p>
    </div>
  </div>

  <ul>
    {% for comment in comments %}
      <li>
        {{ comment.content }}
        {{comment.user}}
        {% if request.user == comment.user %}
        <form action="{% url 'community:comments_delete' review.pk comment.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" value ="DELETE">
        </form>
      {% endif %}  
      </li>
    {% comment %} {% empty %} {% endcomment %}
      {% comment %} <p>댓글이 아직 존재하지 않습니다.</p> {% endcomment %}
    {% endfor %}
  </ul>
 
  {% if request.user.is_authenticated %}
    <form action="{% url 'community:comments_create' review.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      <input type="submit" value ="CREATE" class="mt-3">
    </form>
  {% endif %}

{% endblock %}